<header class="site-header">

  <!-- Navbar -->
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" style="padding: 20px 0px 0px 40px">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <p class="title is-4 has-text-weight-bold">Platform
          <span class="title is-4 has-text-weight-light">API</span>
        </p>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">Home</a>
        <a class="navbar-item">Documentation</a>
        <div class="navbar-item">
          <div class="buttons">
            <button class="button">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitLab</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>