<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.0/css/bulma.min.css"
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="static/theme.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', () => {
          // Functions to open and close a modal
          function openModal($el) {
              $el.classList.add('is-active');
          }

          function closeModal($el) {
              $el.classList.remove('is-active');
          }

          function closeAllModals() {
              (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                  closeModal($modal);
              });
          }

          // Add a click event on buttons to open a specific modal
          (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
              const modal = $trigger.dataset.target;
              const $target = document.getElementById(modal);

              $trigger.addEventListener('click', () => {
                  openModal($target);
              });
          });

          // Add a click event on various child elements to close the parent modal
          (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
              const $target = $close.closest('.modal');

              $close.addEventListener('click', () => {
                  closeModal($target);
              });
          });

          // Add a keyboard event to close all modals
          document.addEventListener('keydown', (event) => {
              if (event.key === "Escape") {
                  closeAllModals();
              }
          });
      });
  </script>
</head>
